<a href="https://colab.research.google.com/github/victoraccete/ciencia-de-dados-2020.1/blob/main/Lista_1_Quest%C3%A3o_10_Ci%C3%AAncia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [2]:
uri = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
cols = ('sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class') # https://archive.ics.uci.edu/ml/datasets/iris
iris = pd.read_csv(uri, header=None)
iris.columns = cols
iris.head()

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [3]:
inputs = iris.iloc[:, :-1]
inputs.head()

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

In [4]:
targets = iris.iloc[:, -1].values
targets[:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [5]:
kf = KFold(n_splits=4, shuffle=True, random_state=42)
type(kf)

sklearn.model_selection._split.KFold

In [6]:
knn = KNeighborsClassifier(n_neighbors=3)
# De acordo com a documentação (https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter),
# scoring='f1' é usado para classificação binária
scores = cross_val_score(knn, inputs, targets, cv=kf, scoring='f1_micro')
print(scores)

[1.         0.97368421 0.91891892 0.97297297]